# Configuración base del proyecto (Django)
DJANGO_SECRET_KEY=
DJANGO_DEBUG=
DJANGO_ALLOWED_HOSTS=
DJANGO_CORS_ALLOWED_ORIGINS=
DJANGO_CSRF_TRUSTED_ORIGINS=
# Motor de Inteligencia Artificial (Google Gemini)
GEMINI_API_KEY=
